<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= quizzTitle.quizzTitleName %></h1>
    
    <% arr.forEach((ob,index) => { %>
        <h3><%= ob.referencedInstance.questionBody  %></h3>
        <!-- <h1><%= index %></h1> -->
        <% ob.referencedInstance.choices.forEach((choice,index) => { %>            
            <div style="background-color: lightgray; width: fit-content; margin-bottom: 5px;">
                
                <p style=""><%= choice %></p>
            
                <% if (ob.referencedInstance.AnswerIndex == index) { %>
                    <% if (ob.selectedIndex == ob.referencedInstance.AnswerIndex ) { %>                            
                        
                        <span style="color: green;">Correct answer , your answer</span> 
                    <% } else { %>                    
                        <span style="color: green;">Correct answer</span>
                    <% } %>                    
                <% } else { %>
                    <% if ( ob.selectedIndex == index ) { %>                            
                        <span style="color: red;">Your answer</span>
                    <% } %>                    
                <% } %>

            </div>

        <% }); %>   

    <% }); %>

    <script src="js/yourQuizz.js"></script>
</body>
</html>
