.icon {
    width: 35px;
    height: 35px;
  }


.super-div{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.quizz-container{
  background-color: lightyellow;
}

.quiz-block{
  border: 1px solid black;
  padding:10px;
  margin-bottom: 5px;
}

.quizz-content{
  background-color: lightcyan;
}

.icon-div{
  background-color: lightgray;
}